#prices {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.ticketsNumber {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #222222;
}
.counterContainer {
  display: flex;
  align-items: center;
  padding-left: 45px;
  padding-right: 45px;
  justify-content: center;
}
.decreaseIncreaseButtonContainer {
  height: 40.5px;
  width: 54px;
  border-radius: 20.25px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.decreaseIncreaseButtonContainer::before {
  content: "";
  position: absolute;
  border: 5px solid white;
  box-sizing: border-box;
  width: 58.6px;
  left: 1.85%;
  right: -10.37%;
  top: 86.42%;
  bottom: 13.58%;
  transform: rotate(-25.5deg) translate(0px, -200%);
}
.decreaseIncreaseButtonContainer.leftButton {
  margin-right: auto;
}
.numberOfTickets {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #222222;
}
.decreaseIncreaseButtonContainer.rightButton {
  margin-left: auto;
}
.decreaseIncreaseButton {
  height: 100%;
  width: 100%;
  background: #ffffff;
  border: 2px solid #55c57a;
  box-sizing: border-box;
  border-radius: 20.25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.increaseDescreaseSvg {
  position: absolute;
}
.totalPrice {
  padding-top: 17.5px;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #55c57a;
}
.positionButton {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.submitButtonContainer {
  padding-bottom: 29px;
  padding-top: 9px;
}
.submitButton {
  width: 337.5px;
  height: 38px;
  border-radius: 10px;
  background: linear-gradient(87.6deg, #ff9232 -28.36%, #fac162 104.8%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonText {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

.displayText {
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #222222;
}
