.imageConatiner {
  position: absolute;
  width: 375px;
  height: 187px;
  left: 0px;
  top: 45px;
}
.image {
  width: 100%;
  border-radius: 20px 0px;
}
.imageRectangle {
  left: 0%;
  right: 0.27%;
  top: 0%;
  bottom: 0%;
}
